.noscroll {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.navbar-logo {
	width: 30px;
}

.navbar-toggler {
	border: none;
}

.bg-img {
	background-image: url("../img/magazijn.jpg");
	width: 100vw;
	height: 93vh;
	position: absolute;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-columns {
	padding: 5vh 10vw;
}

#results-table {
	padding: 5vh 40vw !important;
}
/*.card-div {*/
	/*background-color: rgba(255, 255, 255, 0.5);*/
	/*top: 50%;*/
	/*width: 450px;*/
	/**/
	/*margin: 25px; */
	/*padding: 20px;*/
/*}*/

/*.card-deck {*/
  	/*@include media-breakpoint-only(lg) {*/
    	/*column-count: 4;*/
  	/*}*/
  	/*@include media-breakpoint-only(xl) {*/
    	/*column-count: 5;*/
  	/*}*/
/*}*/

#map {
	position: fixed;
	width: 100vw;
	height: 93vh;
}

#floor-dropdown {
	top: 1vh;
	left: 1vw;
	width: 200px;
	z-index: 1000;
}

.table-image {
	height: 20vh;
}